<!--<div class="card">-->
<!--  <div class="card-header text-center">-->
<!--    <strong><h5>Categories</h5></strong>-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <div class="nav">-->
<!--      <input type="checkbox" id="menu">-->
<!--      <label for="menu" id="nav-icon">&#9776;</label>-->

<!--      <div class="multi-level">-->
<!--        &lt;!&ndash;     Laptop&ndash;&gt;-->
<!--        <div class="item">-->
<!--          <input type="checkbox" id="A"/>-->
<!--          <img src="./assets/img/arrow.png" class="arrow"/>-->
<!--          <label for="A">Laptop</label>-->
<!--          <ul>-->
<!--            <li><a href="#">All</a></li>-->
<!--            <li><a href="#">Game</a></li>-->
<!--            <li><a href="#">Office</a></li>-->
<!--            <li><a href="#">Workstation</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;      Components&ndash;&gt;-->
<!--        <div class="item">-->
<!--          <input type="checkbox" id="F"/>-->
<!--          <img src="./assets/img/arrow.png" class="arrow"/>-->
<!--          <label for="F">Components</label>-->

<!--          <ul>-->
<!--            <li><a href="#">All</a></li>-->
<!--            <li><a href="#">CPU</a></li>-->
<!--            <li><a href="#">Motherboard</a></li>-->
<!--            <li><a href="#">Graphic-card</a></li>-->
<!--            <li><a href="#">SSD</a></li>-->
<!--            <li><a href="#">Ram</a></li>-->
<!--            <li><a href="#">Power-supply</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;      OFFICE_ELECTRONICS&ndash;&gt;-->
<!--        <div class="item">-->
<!--          <input type="checkbox" id="L"/>-->
<!--          <img src="./assets/img/arrow.png" class="arrow"/>-->
<!--          <label for="L">Office-electronics</label>-->

<!--          <ul>-->
<!--            <li><a href="#">All</a></li>-->
<!--            <li><a href="#">Printer</a></li>-->
<!--            <li><a href="#">Scaner</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;      COMPUTER_NETWORKING&ndash;&gt;-->
<!--        <div class="item">-->
<!--          <input type="checkbox" id="K"/>-->
<!--          <img src="./assets/img/arrow.png" class="arrow"/>-->
<!--          <label for="K">PC-networking</label>-->

<!--          <ul>-->
<!--            <li><a href="#">All</a></li>-->
<!--            <li><a href="#">Wireless-router</a></li>-->
<!--            <li><a href="#">Network-card</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<li class="nav-item dropdown">-->
<!--  <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>-->
<!--  <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">-->
<!--    <li><a href="#" class="dropdown-item">Some action </a></li>-->
<!--    <li><a href="#" class="dropdown-item">Some other action</a></li>-->

<!--    <li class="dropdown-divider"></li>-->

<!--    &lt;!&ndash; Level two dropdown&ndash;&gt;-->
<!--    <li class="dropdown-submenu">-->
<!--      <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>-->
<!--      <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">-->
<!--        <li>-->
<!--          <a tabindex="-1" href="#" class="dropdown-item">level 2</a>-->
<!--        </li>-->

<!--        &lt;!&ndash; Level three dropdown&ndash;&gt;-->
<!--        <li class="dropdown-submenu">-->
<!--          <a id="dropdownMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>-->
<!--          <ul aria-labelledby="dropdownMenu3" class="dropdown-menu border-0 shadow">-->
<!--            <li><a href="#" class="dropdown-item">3rd level</a></li>-->
<!--            <li><a href="#" class="dropdown-item">3rd level</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        &lt;!&ndash; End Level three &ndash;&gt;-->

<!--        <li><a href="#" class="dropdown-item">level 2</a></li>-->
<!--        <li><a href="#" class="dropdown-item">level 2</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    &lt;!&ndash; End Level two &ndash;&gt;-->
<!--  </ul>-->
<!--</li>-->

<div class="list-group-item">
<div class="dropdown sub-menu-list products open">
  <a href="#" class="menu-item dropdown-toggle" data-text="PRODUCTS" data-toggle="dropdown" aria-expanded="true">CATEGORIES
    <span class="syncfusionlayout-down-arow"></span></a>
  <div class="sub-menu-container dropdown-menu " style="width: 1386px; margin-left: -457.609px;">
    <div class="container menu-container">
      <div class="row product-submenu">
        <div class="col-lg-8 sub-menu-segment-border">
          <div class="row">
            <div class="sub-menu-title component-title"></div>
            <div class="col-lg-3">
              <ul class="multi-column-dropdown">
                <li class="sub-menu-title">LAPTOPS</li>
                <li class="sub-menu-item" (click)="onselect()"><a>Game</a></li>
                <li class="sub-menu-item"><a href="/aspnet-core-ui-controls">Workstation</a></li>
                <li class="sub-menu-item"><a href="/aspnet-mvc-ui-controls">Office</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul class="multi-column-dropdown">
                <li class="sub-menu-title">COMPONENT</li>
                <li class="sub-menu-item"><a href="#">CPU</a></li>
                <li class="sub-menu-item"><a href="#">Motherboard</a></li>
                <li class="sub-menu-item"><a href="#">Graphic-card</a></li>
                <li class="sub-menu-item"><a href="#">SSD</a></li>
                <li class="sub-menu-item"><a href="#">Ram</a></li>
                <li class="sub-menu-item"><a href="#">Power-supply</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul class="multi-column-dropdown">
                <li class="sub-menu-title">OFFICE</li>
                <li class="sub-menu-item"><a href="#">Printer</a></li>
                <li class="sub-menu-item"><a href="#">Scaner</a></li>
              </ul>

            </div>
            <div class="col-lg-3">
              <ul class="multi-column-dropdown">
                <li class="sub-menu-title">NETWORKING</li>
                <li class="sub-menu-title"><a href="#">Wireless-router</a></li>
                <li class="sub-menu-title"><a href="#">Network-card</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
